* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background: #fff;
  position: relative;
  z-index: 100;
}
.logo img {
  width: 70px;
  height: 70px;
}
.nav-toggle {
  display: none;
}

.nav-toggler {
  display: none;        
  width: 30px;
  height: 24px;
  cursor: pointer;
  position: relative;
  z-index: 200;
}
.nav-toggler .bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;  
  border-radius: 2px;
  transition: transform 0.4s ease, opacity 0.2s ease;
}
.nav-toggler .bar.top {
  top: 0;
}
.nav-toggler .bar.middle {
  top: 50%;
  transform: translateY(-50%);
}
.nav-toggler .bar.bottom {
  bottom: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3em;
  font-size: 20px;
}
.nav-links li:hover{
  color: brown;
  text-decoration: underline;
}
header {
    padding: 4em;
    background-color: rgb(244, 244, 244);
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 5%;

}

.images p:hover {
    color: brown;
}

.site-footer {
    background-color: rgb(33, 33, 33);
    color: #f0f0f0;
    padding: 40px 20px;
    margin-top: 10%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 300px;
}

.footer-section h3 {
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #ffffff;
}
.footer-section h4{
    letter-spacing: 1.5px;
}
.footer-section ul {
    list-style: none;
    padding-left: 0;
}

.footer-section ul li {
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-bottom: 8px;
}



@media (max-width: 768px) {
      .nav-toggler {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 24px;
    transition: top 0.5s ease;
    display: flex;
  }
  .nav-toggle:checked ~ .nav-links {
    top: 0;
  }

  .nav-toggle:checked + .nav-toggler .bar.top {
    transform: rotate(45deg) translateY(10px);
  }
  .nav-toggle:checked + .nav-toggler .bar.middle {
    opacity: 0;
  }
  .nav-toggle:checked + .nav-toggler .bar.bottom {
    transform: rotate(-45deg) translateY(-10px);
  }

    .images {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        flex: 1 1 100%;
    }
}